.img1{
    background-image: url('/image/pexels-alex-montes-892479-1820563.jpg');
     height: 500px;
 }
.img1{
   
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.img2{
    background-image: url('./image/pexels-brittany-17733-87812.jpg');
    height: 500px;
}
.img2{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.caption2 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.img3{
    background-image: url(./image/pexels-eberhardgross-673020.jpg);
    height: 500px;
}
.img3{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption3{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.caption3 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.img4{
background-image: url(./image/pexels-ollivves-931018\ copy.jpg);
height: 500px;
}
.img4{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption4{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.caption4 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}